*{
    box-sizing: border-box;
}

body{
    background: url(../images/concrete-texture.png); /* apply background color using an image file*/
    font-size: 18px;
    line-height: 34px;
    font-family: Arial,'Helvetica Neue' Helvetica, sans-serif;
    color: #777;

}
/* Apply the same width to the header, the contents area and the footer*/
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  
}

h1{
    margin-bottom: 20px;
}

h1,h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1{
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid#ddd;
    padding-bottom: 20px;
}

h3 {
    font-size: 22px;

}


/*header*/

#header{
    background: #fff;
    margin-bottom:30px;
     /* elements with z-index:(positive value) appear on the top of the vertical stacking order.Header comes on top of the portfolio images*/
    z-index: 1;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    /*position:fixed could hide other elements in this case " About Me" would be hidden. so comment out this and then later uncomment it*/
    position: fixed; 
    width: 100%
    
}

#logo {
    width: 200px;
    height: 80px;
    background: #4aaaa5;
    float: left;
    font-family: 'Georgia',Times,Times New Roman,serif;
    text-align: center;
    line-height: 80px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;

}

nav {
    float: right;
    margin-top: 25px;
}

nav a{
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 18px;
}


 /*main*/
 #main-container {
    padding-top: 130px;
 }

.main-contents{
    background: #ffffff;
    padding: 30px;
    margin-bottom:40px;
    width: 100%;
    float: left;
    border: 1px solid#dddddd;
}

.image {
    width: 230px;
    height: auto;   
    float: left;
    margin-right: 25px;
    margin-top: 10px;
}

#here {
	text-decoration: none;
	color:red;
}
#here:hover{
	Font-size:28px;
	font-weight:500;
	background:#4aaaa5;
	padding:20px,0,0,30px;
	color:#ffffff;
}
/*footer*/

footer{
    background: #666666;
    color: #ffffff;
    padding: 20px;
    clear: both;
    border-top:8px solid #4aaaa5;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
}

/*portfolio*/
.photo {
    width: 280px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.photo:nth-child(even) {
    margin-right: 40px;
}

.photo img{
    width: 100%;
    border: 0 none; 
}

.photo h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

/*contact*/

.contact-page ul {
    margin-bottom: 10px;
}

.contact-page li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}
textarea {
    height: 200px;
}

input[type=submit]{
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 5px 20px;
    cursor: pointer;
}
input[type=submit]:active{
    font-weight: 700;
    background: #666666;
    padding: 10px 40px;
    font-size: 28px;

}